<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
   <!-- computed 和 watch 之间的区别
    1.computed 能完成的功能，watch都可以完成
    2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作

    两个重要的小原则
        1.所被Vue管理的函数，最好写成普通函数，这样this的只想才是vm或组件实力对象
        2.所有不被Vue所管理的函数（定时器的回调函数，Ajax的回调函数等， Promise的回调函数）最好写成箭头函数
          这样this的指向才是vm或者组件实例对象。 -->

    <div id="root">
        姓：<input type="text" v-model="firstName"><br>
        名：<input type="text" v-model="lastName"><br>
        <!-- .slice 取一部分（从第几位开始，总共取几位） -->
        姓名：<span>{{fullName}}</span>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false
    new Vue({
        el:'#root',
        data:{
            firstName:'张',
            lastName:'三',
            fullName:'张-三'
        },
       watch:{
           firstName(newValue){
               //监听属性可以异步执行 但是计算属性不行
               setTimeout(() =>{
                   this.fullName = newValue + '-' + this.lastName
               },1000);
            
           },
           lastName(newValue){
            this.fullName = this.firstName + '-' + newValue
           }
       }
    })
</script>
</html>