<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <li v-for="p in persons" :key="p.id">
            <!-- <li v-for="(p,index) in persons" :key="index">     -->
                {{p.name}}-{{p.age}}
            </li>
        </ul>
        <br>
        <!-- 遍历对象 -->
        <h2>汽车信息</h2>
        <ul>
            <li v-for="(value,k) of car" :key="k">
            <!-- <li v-for="(p,index) in persons" :key="index">     -->
                {{k}}-{{value}}
            </li>
        </ul>
        <br>
        <!-- 字符串 -->
        <h2>字符串信息</h2>
        <ul>
            <li v-for="(char,i) of str" :key="i">
            <!-- <li v-for="(p,index) in persons" :key="index">     -->
                {{char}}-{{i}}
            </li>
        </ul>
        <br>
        <!-- 遍历指定次数 -->
        <h2>遍历指定次数</h2>
        <ul>
            <li v-for="(num,i) in 5" :key="i">
            <!-- <li v-for="(p,index) in persons" :key="index">     -->
                {{num}}-{{i}}
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false
    new Vue({
        el:'#root',
        data:{
            persons:[
                {id:'001',name:'张01',age:18},
                {id:'002',name:'张02',age:19},
                {id:'003',name:'张03',age:20},
            ],
            car:{
                name:"audi",
                price:"70万",
                color:"黑色"
            },
            str:'hello'
        }
    })
</script>
</html>